@import 'styles/variables';

body {
    font-family: 'Exo', sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    .primary {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10%;
        width: 80%;
        .profile {
            width: 100%;
            
            //justify-content: center;
            //margin-left: 10%;
            align-items: center;
            display: flex;
            background-image: url('./assets/dev.svg');
            background-position: 330px 100px;
            background-size: 700px;
            background-repeat: no-repeat;
            img {
                height: 430px;
            }
            .greeting {
               // margin-top: 100px;
                margin-left: 40px;
                h2 {
                    font-weight: 700;
                    color: $primary;
                    font-size: 40px;
                    margin: 0;
                }
                h3 {
                    font-size: 30px;
                    font-weight: 500;
                    color: $text;
                    margin: 5px;
                }
            }
        }
    }
    .about {
       //margin: 10%;
        width: 100%;
        background-color: $primary;
        height: 100vh;
        border-top-right-radius: 150px;
        border-top-left-radius: 150px;
        -webkit-box-shadow: 12px -7px 83px -7px rgba(0,0,0,0.51);
        -moz-box-shadow: 12px -7px 83px -7px rgba(0,0,0,0.51);
        box-shadow: 12px -7px 83px -7px rgba(0,0,0,0.51);
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: $textLight;
            font-size: 45px;
            font-weight: 600;
        }
        .aboutText{
            color: $textLight;
            font-size: 20px;
            display: flex;
            padding: 50px;
            .aboutLeft {
                width: 100%;
                align-items: center;
                img {
                    width: 90px;
                    filter: drop-shadow(0 0 5px rgb(93, 24, 205));
                    padding: 10px;
                }
            }
            .aboutRight {
                width: 100%;
            }
        }
    }
}