@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500;600;700&display=swap');

$primary: #9EB414;
$secondary: #666666;
$text: #454545;
$textLight: #f8f8f8;
$gradient: var(--linear, linear-gradient(105deg, #D92390 -4.58%, #4C0CCE 81.43%));